spring:
  application:
    name: spring-ai

  ai:
    openai:
      api-key: AIzaSyCj9GH9IeFGx_8QCeh57vAJRHdobrLuNSg
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash