server:
  port: ${PORT:8080}

spring:
  application:
    name: spring-ai

  data:
    mongodb:
      uri: ${MONGODB_URI}

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

  rabbitmq:
    uri: ${RABBITMQ_URI}

  ai:
    openai:
      api-key: ${GEMINI_API_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

rabbitmq:
  exchange: notification.exchange
  routing-key: notification.routing.key

cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

logging:
  level:
    org:
      springframework:
        mail: DEBUG
        amqp: DEBUG
      eclipse:
        angus:
          mail: DEBUG
    com:
      rabbitmq: DEBUG

resend:
  api:
    key: ${RESEND_API_KEY}
