server:
  port: ${PORT:8080}

# ==============================
# Custom App Configuration
# ==============================
app:
  # Nếu có biến môi trường FRONTEND_URL thì dùng, nếu không thì mặc định là localhost
  frontend-url: ${FRONTEND_URL:http://localhost:5173}
  brevo:
    api-key: ${BREVO_API_KEY}
    sender-email: "tranngochung19112004@gmail.com"
    sender-name: "StyleNest"
spring:
  application:
    name: spring-ai
  data:
    mongodb:
      uri: ${MONGODB_URI}

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

  # Cấu hình RabbitMQ
  rabbitmq:
    uri: ${RABBITMQ_URI}

  # Cấu hình Spring AI
  ai:
    openai:
      api-key: ${GEMINI_API_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash

# JWT configuration
jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

rabbitmq:
  exchange: notification.exchange
  routing-key: notification.routing.key

# Cloudinary Config
cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

# Logging levels
logging:
  level:
    org:
      springframework:
        mail: DEBUG
        amqp: DEBUG
      eclipse:
        angus:
          mail: DEBUG
    com:
      rabbitmq: DEBUG
